<div id="<%= dom_id comment %>">
  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= comment.user_name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

</div>
